@model GetByIdProductDetailDto
@{
    ViewData["Title"] = "UpdateProductDetail";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="row">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ürün Güncelleme Sayfası</h5>

                <form method="post">
                    <input type="hidden" asp-for="ProductId" />
                    <input type="hidden" asp-for="ProductDetailId" />
                    <div class="my-2">
                        <label asp-for="ProductDescription" class="f mb-2">Ürün Açıklaması</label>
                        <textarea type="text" class="form-control mb-2" asp-for="ProductDescription" rows="5">
                            </textarea>
                    </div>
                    <div class="my-2">
                        <label asp-for="ProductInfo" class="f mb-2">Ürün Bilgisi</label>
                        <textarea type="text" class="form-control mb-2" asp-for="ProductInfo" rows="5"></textarea>
                    </div>

                    <div class="text-center mb-4 mt-3">
                        <button type="submit" class="btn btn-primary px-4 py-2 ">Güncelle</button>
                    </div>

                </form>




            </div>
        </div>

        <div>
            <a href="/Admin/Product/ProductListWithCategory" class="btn btn-secondary">Geri</a>
        </div>

    </div>

</section>

