@model List<ResultOrderingByUserId>
@{
    ViewData["Title"] = "MyOrderList";
    Layout = "~/Areas/User/Views/UserLayout/Index.cshtml";
    int count = 0;
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Geçmiş Siparişler</h4>
                        @* <p class="card-description">
                        Add class <code>.table</code>
                        </p> *@
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="font-weight: bold; text-align: center;">#</th>
                                        <th style="font-weight: bold; text-align: center;">Toplam Fiyat</th>
                                        <th style="font-weight: bold; text-align: center;">Sipariş Tarihi</th>
                                        <th style="font-weight: bold; text-align: center;">Sipariş Detayları</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th style="text-align: center; font-size: 18px;">@count</th>
                                            <td style="text-align: center; font-size: 18px;">
                                                @item.TotalPrice.ToString("C", new System.Globalization.CultureInfo("tr-TR"))
                                            </td>
                                            <td style="text-align: center; font-size: 18px;">
                                                @item.OrderDate.ToString("dd-MM-yyyy")
                                            </td>

                                            <td style="text-align: center; vertical-align: middle;">
                                                <a href="#">
                                                    <i class="mdi mdi-eye" style="font-size: 30px;"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->

</div>

