<div class="pagetitle">
    <h1>@ViewBag.baslik</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">@ViewBag.v1</a></li>
            <li class="breadcrumb-item">@ViewBag.v2</li>
            <li class="breadcrumb-item active">@ViewBag.v3</li>
        </ol>
    </nav>


</div>