@model UpdateCargoCompanyDto
@{
    ViewData["Title"] = "UpdateCargoCompany";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="row">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kargo Firması Güncelleme Sayfası</h5>

                <form method="post">
                    <input type="hidden" asp-for="CargoCompanyId" />
                    <div class="my-2">
                        <label asp-for="CargoCompanyName" class="f mb-2">Firma Adı</label>
                        <input type="text" class="form-control mb-2" asp-for="CargoCompanyName" />
                    </div>

                    <div class="text-center mb-4 mt-3">
                        <button type="submit" class="btn btn-primary px-4 py-2 ">Güncelle</button>
                    </div>

                </form>




            </div>
        </div>

        <div>
            <a href="/Admin/Cargo/CargoCompany" class="btn btn-secondary">Geri</a>
        </div>

    </div>

</section>

