@model CreateMessageDto
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Areas/User/Views/UserLayout/Index.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-8 mx-auto grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Yeni Mesaj Gönder</h4>
                        <form method="post">
                            
                            <div class="form-group">
                                <label for="Subject">Konu</label>
                                <input type="text" class="form-control" id="Subject" asp-for="Subject" placeholder="Konu başlığını girin" required />
                            </div>
                            <div class="form-group">
                                <label for="MessageDetail">Mesaj Detayı</label>
                                <textarea class="form-control" id="MessageDetail" asp-for="MessageDetail" rows="5" placeholder="Mesajınızı buraya yazın" required></textarea>
                            </div>
                            
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg mt-3">
                                    <i class="mdi mdi-send"></i> Gönder
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
