@model CreateAdressDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Anasayfa</a>
                <a class="breadcrumb-item text-dark" href="#">Siparişler</a>
                <span class="breadcrumb-item active">Sipariş İşlemleri</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Start -->
<div class="container-fluid">
    <div class="row px-xl-5">

        <form method="post" method="post" class="row w-100">
            @await Component.InvokeAsync("_DetailOrderComponentPartial")
            <div class="col-lg-4">
                @await Component.InvokeAsync("_SummaryOrderComponentPartial")
                @await Component.InvokeAsync("_PaymentOrderComponentPartial")

            </div>
        </form>

    </div>
</div>
<!-- Checkout End -->
