@model List<ResultFeatureSliderDto>
@{
    ViewData["Title"] = "Slayt Görsel Listesi";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="section">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <!-- Yeni Görsel Ekleme Butonu -->
                <a href="/Admin/FeatureSlider/CreateFeatureSlider" class="btn btn-outline-primary mt-4 mb-5">Yeni Görsel Girişi</a>

                <!-- Başlıklar -->
                <div class="row fw-bold border-bottom">
                    <div class="col-1 text-center">#</div>
                    <div class="col-4 text-center">Slayt Başlığı</div>
                    <div class="col-4 text-center">Slayt Görseli</div>
                    <div class="col-1 text-center">Sil</div>
                    <div class="col-1 text-center">Güncelle</div>
                </div>

                <!-- İçerik -->
                <div>
                    @foreach (var item in Model)
                    {
                        count++;
                        <div class="row border-bottom py-2">
                            <div class="col-1 text-center align-middle">@count</div>
                            <div class="col-4 text-center align-middle">@item.Title</div>
                            <div class="col-4 text-center align-middle">
                                <img src="@item.ImageUrl" class="rounded" style="width:120px;height:70px;" />
                            </div>
                            <div class="col-1 text-center align-middle">
                                <a href="/Admin/FeatureSlider/DeleteFeatureSlider?id=@item.FeatureSliderId">
                                    <i class="bi bi-trash fs-4 text-danger"></i>
                                </a>
                            </div>
                            <div class="col-1 text-center align-middle">
                                <a href="/Admin/FeatureSlider/UpdateFeatureSlider/@item.FeatureSliderId">
                                    <i class="bi bi-pencil-square fs-4 text-success"></i>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
